/*Box hack*/

*{
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}


/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}


/*base styles + fonts*/

body {
	font-family: "Work Sans", serif;
	font-size:16px;
	font-weight: 350;
	background-color: #e5ebee;
}

body, html {
	height:100%;
	background-color: #e5ebee;
}

a {
	text-decoration: none;
}


/*Layout*/




.container {
	width:100%;
	margin: auto;
	padding-top: 3px;
	padding-right: 8px;
	padding-left: 8px;
	margin-left: 5px;
	overflow: hidden;
}

header {
	overflow: hidden;
	background-color: black;
}

header nav {
	margin: 0 auto;	
	clear:both;
	text-align: center;
	padding-bottom: 5px;
	display:flex;
	justify-content: space-around;
}

header nav ul li {
	display:inline-block;
	margin-right: 10px;
}

footer ul li {
	display:inline-block;
	list-style: none;
	clear:both;
}

nav ul a {
	color:white;
}


footer {
	border-top: 1px solid;
}


footer, .copyright {
	text-align: center;
	clear:both;
	background-color: black;
	text-decoration: none;
	margin-bottom: 0px;
}


#aboutMe h2 {
	text-align: center;
}

#aboutMe {
	clear:both;
}

#resume h2, h3 {
	text-align: center;
}

.date {
	float:right;
	display:inline-block;
}

.rockProject , .Relaxr {
	float:left;
	display:inline-block;
	width:50%;
	text-align:center;
}

.job {
	float:left;
	font-weight: 800;
}

.date {
	float:right;
	font-weight: 800;
}

.clearR {
	clear:both;
}

.jobRole {
	float:left;
	clear:both;
	margin-top: -10px;
	font-weight: 800;
}

.hobbiesFloat1 , .hobbiesFloat2 , .hobbiesFloat3 {
	float:left;
	width:33.33333%;
	text-align: center;
	margin-top:-20px;
	cursor: crosshair;
}

.clearHobbies {
	clear:both;
}

.bulletP2 , .bulletP1 , .bulletP3 {
	list-style-type: none;
	padding: 0;
}


.copyright {
	color:white;
}


.Relaxr, .rockProject {
	background-color: #e5ebee;
	width:100%;
	
}


#aboutMe, .container1 {
	background-color: #ff0381;
	margin-top: -20px;
}


.pinkBackground, .hobbiesFloat1 , .hobbiesFloat2 , .hobbiesFloat3  {
	background-color: #ff0381;
}

.expandResume2 {
	cursor: crosshair;
}

#aboutMe {
	background-image: url("../images/download.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	color:white;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.highlighted {
	background-color: #ff0381;
}

.rockProject {
	float:left;
	width:50%;
}

.Relaxr {
	float:right;
	width:50%;
}

.stickyFooter {
	margin-bottom: -100px;
	min-height: 100%;
}

.stickyFooter:after {
	display:block;
	content: "";
}

#responsiveDesign {
	display: none;
}


.line {
	width:1em;
	height:.25em;
	background-color: green;
	border-radius: 1em;
	margin-top: .25em;
}

#resume {
	padding-bottom: 10px;
}

.citi {
	display: flex;
	justify-content: center;
	clear:both;
	text-align: center;
	display: block;
	z-index: 12;
	overflow: hidden;

}


/*Responsive design for 480px and below*/

@media screen and (max-width: 510px) {
	body {
		font-size: 12px;
		width:100%;
	}

	.container {
		padding: 10px 10px;
		margin: 10px 10px;
	}


	.navBar nav li {
		display:flex;
		flex-flow: column;
		justify-content: space-between;
		text-align: center;
		margin: 0 auto;
		font-size: 16px;
	}

	.rockProject, .Relaxr, .citi{
		display:block;
		clear:both;
		width:100%;
	}

	 #responsiveDesign{
		cursor: crosshair;
    	position: absolute;
    	width:2em;
    	height:2em;
    	top: 0;
    	right: 0;
   	 	display: block;
	}

	.line {
		width:2em;
		height: .30em;
		background-color: orange;
		border-radius: 1em;
		margin-top: .45em;
	}

	.navBarClick li {
		border-radius: 5px;
		margin-bottom: 5em;
		border-style: 1px solid green;
	}

	.navBarClick {
		height: 0;
		overflow: hidden;
	}

	.slideDown {
		height:9em;
	}

	.navBarClick {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}

	.citi1 {
		display:block;
		clear:both;
	}

	.port {
		display: inline;
	}
}